@import url(https://fonts.googleapis.com/css?family=Raleway);nav.navbar {
  background: #272b36;
  border-bottom: 3px solid #FF5C41;
}

nav.navbar .navbar-brand {
  color: #fff;
}

nav.navbar .navbar-brand:hover {
  color: #fff;
}

nav.navbar .navbar-nav li a {
  color: #fff !important;
}

nav.navbar .navbar-nav li i {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

nav.navbar .navbar-nav li i:hover:hover {
  color: #DD5E5C;
  cursor: pointer;
}

nav.navbar .dropdown-menu .dropdown-item {
  color: #000 !important;
}

#avatar {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: -1px;
}

