@import url(https://fonts.googleapis.com/css?family=Raleway);body {
  background: #333;
  color: #fff;
  font-family: 'Raleway';
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article img {
  width: 150px;
  border: 1px solid #fff;
  border-radius: 50%;
}

