@import url(https://fonts.googleapis.com/css?family=Raleway);@import url(https://fonts.googleapis.com/css?family=Roboto);body {
  background: #333;
  color: #fff;
  font-family: 'Roboto';
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#card {
  display: block;
  width: 50%;
  margin: auto;
  color: #000;
  background: #fff;
  padding: 5% 3%;
}

#card #image-container {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}

#card #image-container #logo {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  max-width: 100%;
  padding-right: 3%;
}

#card #news {
  width: 59.5%;
  display: inline-block;
  vertical-align: middle;
}

#card #news h1 {
  margin-bottom: 2%;
}

#card #news p {
  color: #C1C1C1;
}

#card #news span {
  color: #000;
  font-weight: bold;
}

#card a {
  display: block;
  margin-top: 5%;
}

