@import url(https://fonts.googleapis.com/css?family=Raleway);body {
  background: #333;
  color: #fff;
  font-family: 'Raleway';
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img#banner {
  height: 200px;
  max-width: 100%;
}

header {
  text-align: center;
  background: #fff;
  height: 200px;
}

header .container-banner,
header .container-logo {
  position: relative;
}

header #banner {
  position: absolute;
  left: 0;
}

header .container-logo #logo {
  position: static;
  margin-top: 70px;
  border: 3px solid #000;
  border-radius: 50%;
}

.container-form {
  position: relative;
  top: 200px;
  padding: 0 3%;
}

.container-form .left-form {
  width: 50%;
  display: inline-block;
}

.container-form .right-form {
  width: 49.7%;
  display: inline-block;
}

.container-form input,
.container-form textarea {
  display: block;
  width: 100%;
  margin: 0 auto 2% auto;
  padding: .7% 0 .7% 1%;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.container-form #username {
  margin: 0 auto 1% auto;
  padding: .35% 0 .35% .5%;
}

.container-form input:focus,
.container-form textarea:focus {
  border-color: #DD5E5C;
}

.container-form input,
.container-form textarea {
  outline: none;
}

.container-form textarea {
  color: #fff;
  height: 55px;
  resize: none;
}

.container-form button {
  background: transparent;
  color: #fff;
  padding: .5%;
  border: 2px solid #DD5E5C;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.container-form button:hover:hover {
  background: #DD5E5C;
  cursor: pointer;
}

@media screen and (max-width: 1445px) {
  .container-form .left-form,
  .container-form .right-form {
    display: block;
    width: 100%;
  }
}

