$primary-color: #DD5E5C;

@import url("https://fonts.googleapis.com/css?family=Raleway");

// html
// {
// 	-moz-user-select: -moz-none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -o-user-select: none;
//     user-select: none;
// }

//MIXINS

@mixin dark-overlay
{
	&:hover
	{
		content: "+";
		background: rgba(0, 0, 0, 0.75);
		z-index: 9999;
		position: absolute;
	}
}

@mixin hover-link
{	
	&:hover
	{
		color: $primary-color;
		cursor: pointer;
	}
}

@mixin hover-button
{	
	&:hover
	{
		background: $primary-color;
		cursor: pointer;
	}
}

nav.navbar
{
	background: #272b36;
	border-bottom: 3px solid #FF5C41;

	.navbar-brand
	{
		color: #fff;
	}

	.navbar-brand:hover
	{
		color: #fff;
	}

	.navbar-nav
	{
		#search-container
		{
			width: 200px;
			padding-top: 4px;

			#search
			{
				font-size: 0.9rem;
				padding: 1%;
				outline: none;
				transition: all ease-in-out .3s;
			}

			#search:focus
			{
				border: 2px solid $primary-color;
			}

			button[type='submit']
			{
				background: transparent;
				border: none;
				outline: none;

				i
				{
					color: #fff;
				}
			}

			button[type='submit']:hover
			{
				cursor: pointer;
			}

		}

		li
		{
			a
			{
				color: #fff !important;
			}

			i
			{
				transition: all ease-in-out .3s;
			}

			i:hover
			{
				@include hover-link;
			}
		}

	}

	.dropdown-menu
	{
		.dropdown-item
		{
			color: #000 !important;
		}
	}

}

#avatar
{
	width: 27px; 
	height: 27px; 
	border-radius: 50%; 
	position: relative; 
	top: -1px; 
	left: -1px;
}
